In [2]:
import numpy as np
import pandas as pd

In [3]:
test_raw = pd.read_csv("/Users/darrengilligan1/Documents/edu/advancedmachinelearning/titanic/test.csv", dtype={"Age": np.float64}, )

In [4]:
training_raw = pd.read_csv("/Users/darrengilligan1/Documents/edu/advancedmachinelearning/titanic/copy_of_the_training_data.csv", dtype={"Age": np.float64}, )

In [5]:
training = training_raw.copy()

In [6]:
age =  training.Age
imputed_na_age = age.fillna(round(age.dropna().mean(),2))
training.Age = imputed_na_age

In [280]:
training.Embarked = training.Embarked.fillna(training.Embarked.value_counts().index[0])

In [281]:
training= training.drop('Cabin',1)
training= training.drop('Ticket',1)
training= training.drop('Name',1)
training = training.drop('PassengerId',1)
y = training_raw.Survived
X= training.drop('Survived',1)

In [282]:
X= X.join(pd.get_dummies(X.Embarked,prefix='Embarked'))
X= X.drop('Embarked',1)
X= X.join(pd.get_dummies(X.Pclass,prefix='Pclass'))
X= X.drop('Pclass',1)
X= X.join(pd.get_dummies(X.Sex,prefix='Sex'))
X= X.drop('Sex',1)

In [283]:
print training.columns

Index([u'Age', u'SibSp', u'Parch', u'Fare', u'Embarked_C', u'Embarked_Q',
       u'Embarked_S', u'Pclass_1', u'Pclass_2', u'Pclass_3', u'Sex_female',
       u'Sex_male'],
      dtype='object')

In [284]:
from sklearn.svm import LinearSVC
svm = LinearSVC(C=0.01)

In [285]:
svm.fit(training,y)
print svm.score(training,y)

0.796857463524

In [286]:
from sklearn.ensemble import RandomForestClassifier
rf =  RandomForestClassifier(n_estimators=50,random_state=1)

In [287]:
rf.fit(training,y)
print rf.score(training,y)

rf_pred = rf.predict(training)

0.982042648709

In [288]:
print rf_pred

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 1 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 1 0 0 0 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 1 0 1 0 0 1 0 1 1 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 0 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

In [289]:
test = test_raw.copy()

In [290]:
test_age =  test.Age
imputed_test_age = test_age.fillna(round(test_age.dropna().mean(),2))
test.Age = imputed_test_age

In [291]:
test_fare =  test.Fare
imputed_test_fare = test_fare.fillna(round(test_fare.dropna().mean(),2))
test.Fare = imputed_test_fare

In [292]:
test= test.drop('Cabin',1)
test= test.drop('Ticket',1)
test= test.drop('Name',1)
test = test.drop('PassengerId',1)

In [ ]:
test= test.join(pd.get_dummies(test.Embarked,prefix='Embarked'))
test= test.drop('Embarked',1)
test= test.join(pd.get_dummies(test.Pclass,prefix='Pclass'))
test= test.drop('Pclass',1)
test= test.join(pd.get_dummies(test.Sex,prefix='Sex'))
test= test.drop('Sex',1)

In [294]:
rf_pred = rf.predict(test)

In [296]:
result = pd.DataFrame(test_raw.PassengerId).join(pd.Series(rf_pred,name='Survived'))

,PassengerId,Survived
0,892,0
1,893,0
2,894,0
3,895,1
4,896,0
5,897,0
6,898,0
7,899,0
8,900,1
9,901,0
10,902,0
11,903,0
12,904,1
13,905,0
14,906,1
15,907,1
16,908,0
17,909,1
18,910,0
19,911,1
20,912,1
21,913,1
22,914,1
23,915,1
24,916,1
25,917,0
26,918,1
27,919,1
28,920,1
29,921,0
...,...,...
388,1280,0
389,1281,0
390,1282,0
391,1283,1
392,1284,0
393,1285,0
394,1286,0
395,1287,1
396,1288,0
397,1289,1
398,1290,0
399,1291,0
400,1292,1
401,1293,0
402,1294,1
403,1295,0
404,1296,0
405,1297,0
406,1298,0
407,1299,0
408,1300,0
409,1301,1
410,1302,0
411,1303,1
412,1304,0
413,1305,0
414,1306,1
415,1307,0
416,1308,0
417,1309,1

In [ ]:
# This function was intended to create a reduced model with the minimum scoring aic values.
# It uses sm.OLS which is for regression only so was only useful If i use Y as a continuous varaible
def myAIC(y,X):

    # so basically we start creating our overall dataframe with the constant as the first value
    overall_df = DataFrame(X['ones'])
    overall_mod = sm.OLS(y, overall_df)
    overall_res = overall_mod.fit()
    print overall_res.summary()

    X_no_ones = X.drop(['ones'],axis=1)
    count=0

    min_col='start'
    # we will have at most 100 features or break the loop if the aic is not getting smaller.
    while count < 100 and min_col!='None':
        count+=1
        min_aic = overall_res.aic
        min_col='None'
        print X_no_ones.columns
        for column in X_no_ones.columns:
            cur_df = overall_df.copy()
            cur_df[column] = X_no_ones[column]
            cur_mod = sm.OLS(y, cur_df)
            cur_res = cur_mod.fit()
            if cur_res.aic < overall_res.aic and cur_res.aic<min_aic:
                min_aic=cur_res.aic
                min_col = column

        # if we have found a new min then let's update our full model and cut the column from the predictor values.
        if min_col!='None':
            overall_df[min_col]=X_no_ones[min_col]
            overall_mod = sm.OLS(y, overall_df)
            overall_res = overall_mod.fit()
            X_no_ones = X.drop([i for i in overall_df.columns],axis=1)


    return overall_df